---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import c_banner from "../../public/careers_banner.svg";
import right from "../../public/right.svg";
import work_timing from "../../public/work_timing.svg";
import five_day_working from "../../public/5_day_working.svg";
import courses from "../../public/courses.svg";
import training from "../../public/training.svg";
import c_process from "../../public/c_process.svg";
import bonus from "../../public/bonus.svg";
import c_slider1 from "../../public/c_slider1.svg";
import c_slider2 from "../../public/c_slider2.svg";
import c_slider3 from "../../public/c_slider3.svg";
import c_slider4 from "../../public/c_slider4.svg";
import c_map from "../../public/c_map.svg";
import c_job from "../../public/c_job.svg";
import c_user from "../../public/c_user.svg";
import previousbtn from "../../public/previousbtn.svg";
import nextbtn from "../../public/nextbtn.svg";
import customer from "../../public/customer.svg";
---

<Layout title="career">
    <main>
        <section
            class="section-bg-right hidden lg:flex h-[calc(100vh-10vh)] relative flex-wrap items-center"
        >
            <Image
                class="absolute right-0 w-5/12"
                src={c_banner}
                alt="banner image"
                width={737}
                height={509}
            />
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 flex">
                <div class="w-7/12">
                    <h1
                        class="text-5xl text-[#31393C] font-semibold lg:leading-[4rem] xl:leading-[4rem]"
                    >
                        Dare to dream big, dare to innovate, and let your career
                        soar with us!
                    </h1>
                    <p
                        class="text-[#31393C] leading-7 font-normal lg:text-base xl:text-lg mt-5"
                    >
                        Take charge of your career with Sanskar Technolab!
                    </p>
                    <div
                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
                    >
                        <a
                            href="#"
                            class="text-white text-base font-semibold font-inter"
                            >View Recent Openings!</a
                        >
                        <Image
                            src={right}
                            width={6}
                            height={12}
                            alt="right arrow "
                        />
                    </div>
                </div>
            </div>
        </section>

        <section class="section-bg-right mt-10 md:flex lg:hidden ">
            <div
                class="mx-5 md:max-w-7xl md:mx-auto md:px-24  h-[calc(100vh-10vh)] flex-wrap items-center"
            >
                <div class="">
                    <div
                        class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                    >
                         Dare to dream big, dare to innovate, and let your career
                        soar with us!
                </div>
                    <p
                        class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                    >
                         Take charge of your career with Sanskar Technolab!
                    </p>
                    <div
                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-auto md:w-72"
                    >
                        <a
                            href="#"
                            class="text-white text-base font-semibold font-inter"
                            >View Recent Openings!</a
                        >
                        <Image
                            src={right}
                            width={6}
                            height={12}
                            alt="right arrow "
                        />
                    </div>
                </div>
                <Image
                    src={c_banner}
                    alt="banner image"
                    width={737}
                    height={509}
                />
            </div>
        </section>

        <section
            class="pt-[6.25rem] md:pt-0 lg:pt-[5rem] xl:pt-[0rem] "
        >
        <div class=" mx-5 md:max-w-7xl md:mx-auto md:px-24 ">
            <div class="md:text-center sm:text-left text-[#31393C]">
                <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold">
                    Sanskar Technolabs at a glance!
                </h2>
                <p class="text-xs md:text-sm lg:text-base mt-5">
                    Sanskar Technolabs is the leading ERPNext & ServiceNow
                    implementation partner, with a growing team of over 50+
                    professional managers, developers, designers, consultants,
                    marketors and writers.
                </p>
                <div class="text-lg md:text-xl lg:text-2xl font-semibold mt-8 md:mt-10 lg:mt-10 ">Why Us?</div>
            </div>

            <div
                class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-7 lg:gap-7 text-[#31393C] mt-10 md:mt-12 lg:mt-14"
            >
                <div class="flex flex-wrap gap-5">
                    <Image
                        src={work_timing}
                        alt=""
                        class="sm:w-auto md:w-2/12 self-start -mt-5"
                    />
                    <div class="w-full md:w-9/12">
                        <div class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold">
                            Flexible Work Timings
                        </div>
                        <p class="text-xs md:text-sm lg:text-base">
                            Work on your terms with our flexible work timings,
                            empowering you to achieve a healthy work-life
                            balance that suits your needs and maximizes your
                            productivity.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-5">
                    <Image
                        src={five_day_working}
                        alt=""
                        width={64}
                        height={64}
                        class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                    />
                    <div class="w-full md:w-9/12">
                        <div class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold">5 Days Working</div>
                        <p class="text-xs md:text-sm lg:text-base">
                            Enjoy a well-deserved work-life harmony with our
                            5-day work week, giving you more time to recharge,
                            pursue personal passions, and create lasting
                            memories with your loved ones.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-5">
                    <Image
                        src={courses}
                        alt=""
                        width={64}
                        height={64}
                        class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                    />
                    <div class="w-full md:w-9/12">
                        <div class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold">
                            Sponsorship for Courses & Events
                        </div>
                        <p class="text-xs md:text-sm lg:text-base">
                            Expand your horizons and enhance your skills with
                            our sponsorship for industry courses and events. It
                            ensures continuous learning and professional growth
                            on your journey with us.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-5">
                    <Image
                        src={training}
                        alt=""
                        width={64}
                        height={64}
                        class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                    />
                    <div class="w-full md:w-9/12">
                        <div class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold">
                            Hands-on Training
                        </div>
                        <p class="text-xs md:text-sm lg:text-base">
                            Gain valuable hands-on experience through our
                            comprehensive training programs, equipping you with
                            the practical skills and knowledge needed to excel
                            in your role and advance your career.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-5">
                    <Image
                        src={c_process}
                        alt=""
                        width={64}
                        height={64}
                        class="w-auto md:w-2/12 md:h-16 lg:w-2/12 self-start -mt-5"
                    />
                    <div class="w-full md:w-9/12">
                        <div class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold">
                            Transparent & Seamless Appraisal Process
                        </div>
                        <p class="text-xs md:text-sm lg:text-base">
                            Navigate your career path confidently with our
                            transparent and seamless appraisal process, where
                            your contributions are recognized and your growth is
                            supported.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-5">
                    <Image
                        src={bonus}
                        alt=""
                        width={64}
                        height={64}
                        class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
                    />
                    <div class="w-full md:w-9/12">
                        <div class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold">Referral Bonus</div>
                        <p class="text-xs md:text-sm lg:text-base">
                            Share the opportunity and be rewarded! Refer
                            talented individuals to join our team and enjoy a
                            referral bonus as a token of our appreciation for
                            helping us build an exceptional workforce.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section
            class="section-bg-center_career pt-[6.25rem] md:pt-[6.25rem] lg:pt-[12.5rem]"
        >
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 text-[#31393C]">
                <div
                    class="text-left md:text-center  font-semibold text-2xl md:text-3xl lg:text-4xl mb-8 md:mb-10 lg:mb-10"
                >
                    Recent Job Openings!
                </div>

                <div
                    class="border border-[#B5CBE3] rounded text-sm md:text-sm lg:text-base  bg-white p-5 mx-auto md:mx-20 lg:mx-40 mb-5"
                >
                    <div class="font-semibold mb-2 md:mb-3 lg:mb-1">
                        Trainee Software Engineer (Python, JavaScript)
                    </div>
                    <div class="flex flex-wrap gap-2 md:gap-3 lg:gap-5 mt-3 md:mt-auto">
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_user} alt="user" />
                            <p>20</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_job} alt="job" />
                            <p>0 Year</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_map} alt="map" />
                            <p>Ahmedabad, Junagadh</p>
                        </div>
                    </div>
                </div>

                <div
                    class="border border-[#B5CBE3] text-sm md:text-sm lg:text-base rounded bg-white p-5 mx-auto md:mx-20 lg:mx-40 mb-5"
                >
                    <div class="font-semibold mb-2 md:mb-3 lg:mb-1">
                        ServiecNow Developer
                    </div>
                    <div class="flex flex-wrap gap-2 md:gap-3 lg:gap-5 mt-3 md:mt-auto">
                        <div class="flex gap-2 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_user} alt="user" />
                            <p>1</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_job} alt="job" />
                            <p>0-2 Years</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_map} alt="map" />
                            <p>Ahmedabad, Junagadh</p>
                        </div>
                    </div>
                </div>

                <div
                    class="border border-[#B5CBE3] text-sm md:text-sm lg:text-base rounded bg-white p-5 mx-auto md:mx-20 lg:mx-40 mb-5"
                >
                    <div class="font-semibold mb-2 md:mb-3 lg:mb-1">ERPNext Developer</div>
                    <div class="flex flex-wrap gap-2 md:gap-3 lg:gap-5 mt-3 md:mt-auto">
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_user} alt="user" />
                            <p>1</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_job} alt="job" />
                            <p>3+ Years (Preferred)</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_map} alt="map" />
                            <p>Ahmedabad, Junagadh</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section
            class="pt-[6.25rem] md:pt-[6.25rem] lg:pt-[12.5rem]"
        >
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 text-[#31393C] flex justify-between">
                <div
                    class="text-center font-semibold text-2xl md:text-3xl lg:text-4xl"
                >
                We work. We Learn. We Grow & Have Fun.
                </div>
                <div class="hidden md:flex">
                    <div class="flex justify-center gap-3">
                        <Image src={previousbtn} alt="previousbtn" id="preBtn" />
                        <Image src={nextbtn} alt="nextbtn" id="nextBtn" />
                    </div>
                </div>
            </div>
            <div
					id="carouselExampleCaptions"
					class="relative mx-5 md:max-w-7xl md:ml-auto md:mx-auto md:pl-24 mt-10"
					data-te-carousel-init
					data-te-carousel-slide
				>
					// Carousel indicators
					<div
						class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
						data-te-carousel-indicators
					>
						<button
							type="button"
							data-te-target="#carouselExampleCaptions"
							data-te-slide-to="0"
							data-te-carousel-active
							class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
							aria-current="true"
							aria-label="Slide 1"></button>
						<button
							type="button"
							data-te-target="#carouselExampleCaptions"
							data-te-slide-to="1"
							class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
							aria-label="Slide 2"></button>
					</div>

					// Carousel items
					<div
						class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
					>
						// First item
						<div
							class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
							data-te-carousel-active
							data-te-carousel-item
							style="backface-visibility: hidden"
						>
							<div class="block flex gap-7">
								<div class="w-96">
                                    <Image src={c_slider1} alt="slider1" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Culture at the core</div>
                                        <p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs promotes an uplifting culture where we learn, have fun, and grow together!</p>
                                    </div>
                                </div>
								<div class="w-96">
                                    <Image src={c_slider2} alt="slider2" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Converse & Grow</div>
                                        <p class="text-xs md:text-sm lg:text-base">The management and employees are always up for collaboration and conversation. Don't hold back—ask questions, seek clarity, and share your ideas freely.</p>
                                    </div>
                                </div>
								<div class="w-96">
                                    <Image src={c_slider3} alt="slider3" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Collaborative Growth</div>
                                        <p class="text-xs md:text-sm lg:text-base">You grow. We grow! We thrive on a culture of shared learning. Together, we'll embark on a journey of continuous growth where knowledge is shared, skills are honed, and success is celebrated.</p>
                                    </div>
                                </div>
                                <div class="w-96">
                                    <Image src={c_slider1} alt="slider4" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Take charge</div>
                                        <p class="text-xs md:text-sm lg:text-base">Take charge of your professional journey and pride in your work. At Sanskar Technolab, we empower you to take ownership of your projects and outcomes.</p>
                                    </div>
                                </div>
							</div>
						</div>
						// Second item
						<div
							class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
							data-te-carousel-item
							style="backface-visibility: hidden"
						>
                        <div class="w-96">
                            <Image src={c_slider1} alt="slider1" class="w-96" />
                            <div class="we-work p-5 h-60">
                                <div class="font-semibold text-base md:text-lg lg:text-xl">Culture at the core</div>
                                <p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs promotes an uplifting culture where we learn, have fun, and grow together!</p>
                            </div>
                        </div>
						</div>
					</div>
				</div>

        </section> -->

        <section class="pt-[6.25rem] md:pt-[6.25rem] lg:pt-[12.5rem]">
            <div class="mx-5 md:mx-auto md:max-w-7xl md:px-20">
                <div
                    class="max-w-7xl items-end justify-between sm:flex sm:pe-6 lg:pe-8"
                >
                    <div
                        class="text-left md:text-center font-semibold text-2xl md:text-4xl  mb-0 md:mb-2 lg:mb-2"
                    >
                        We work. We Learn. We Grow & Have Fun.
                    </div>
    
                    <div class="mt-8 flex gap-4 lg:mt-0  mb-0 md:mb-0 lg:mb-2">
                        <button
                            class="prev-button rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white"
                        >
                            <span class="sr-only">Previous Slide</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5 rtl:rotate-180"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                            </svg>
                        </button>
    
                        <button
                            class="next-button rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white"
                        >
                            <span class="sr-only">Next Slide</span>
                            <svg
                                class="h-5 w-5 rtl:rotate-180"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9 5l7 7-7 7"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"></path>
                            </svg>
                        </button>
                    </div>
                </div>
    
                <div class=" mt-8  lg:mx-0">
                    <div class="swiper-container !overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide max-w-[26rem]">
                                <div class="">
                                    <Image src={c_slider1} alt="slider1" class="w-auto md:w-96" />
                                    <div class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl mb-2">Culture at the core</div>
                                        <p class="text-sm md:text-sm lg:text-base">Sanskar Technolabs promotes an uplifting culture where we learn, have fun, and grow together!</p>
                                    </div>
                                </div>
                            </div>
    
                                <div class="swiper-slide max-w-[26rem]">
                                    <div class="">
                                        <Image src={c_slider2} alt="slider1" class="w-auto md:w-96" />
                                        <div class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96">
                                            <div class="font-semibold text-base md:text-lg lg:text-xl mb-2">Converse & Grow</div>
                                            <p class="text-sm md:text-sm lg:text-base">The management and employees are always up for collaboration and conversation. Don't hold back—ask questions, seek clarity, and share your ideas freely.</p>
                                        </div>
                                    </div>
                                </div>
    
                            <div class="swiper-slide max-w-[26rem]">
                                <div class="">
                                    <Image src={c_slider3} alt="slider1" class="w-auto md:w-96" />
                                    <div class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl mb-2">Collaborative Growth</div>
                                        <p class="text-sm md:text-sm lg:text-base">You grow. We grow! We thrive on a culture of shared learning. Together, we'll embark on a journey of continuous growth where knowledge is shared, skills are honed, and success is celebrated.</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide max-w-[26rem]">
                                <div class="">
                                    <Image src={c_slider1} alt="slider1" class="w-auto md:w-96" />
                                    <div class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl mb-2">Take charge</div>
                                        <p class="text-sm md:text-sm lg:text-base">Take charge of your professional journey and pride in your work. At Sanskar Technolab, we empower you to take ownership of your projects and outcomes.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide max-w-[26rem]">
                                <div class="">
                                    <Image src={c_slider1} alt="slider1" class="w-auto md:w-96" />
                                    <div class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl mb-2">Embrace the true you</div>
                                        <p class="text-sm md:text-sm lg:text-base">Embrace your inner trailblazer and unleash your creativity. We foster an environment encouraging bold ideas, out-of-the-box thinking, and relentless innovation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section
            class="section-bg-left pt-[6.25rem] md:pt-[6.25rem] lg:pt-[12.5rem]"
        >
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24">
                <div class="md:text-center sm:text-left mb-0 md:mb-10 lg:mb-10">
                    <h2
                        class="text-2xl md:text-3xl lg:text-4xl text-[#31393C] font-semibold"
                    >
                    What do our employees have to say about us?
                    </h2>
                    <p
                        class="text-[#31393C] font-semibold mt-3 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                    >
                        Don't believe us? Hear it from SANSKAR FAMILY!
                    </p>
                </div>

                <div class="c_slider">
                <div class="c_slides">
                    <div class="c_slide">
                        <div
                            class="happy-customer-shadow md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
                        >
                            <div
                                class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                            >
                                <Image
                                    class="pr-5"
                                    src={customer}
                                    alt="customer"
                                />
                                <div class="text-[#31393C]">
                                    <p
                                        class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                                    >
                                        Osswal Infosystems
                                    </p>
                                    <p
                                        class="text-xs md:text-sm lg:text-base pr-5"
                                    >
                                        Watch Mohit Nagori, Director of Osswal
                                        Infosystems Pvt. Ltd., speak about his
                                        company's journey with SAP and UBS. He
                                        shares insights about our collaboration
                                        and how to make a successful partnership
                                        work!
                                    </p>
                                    <p
                                        class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                                    >
                                        Mohit Nagori
                                    </p>
                                    <p
                                        class="text-[0.625rem] md:text-xs lg:text-sm"
                                    >
                                        Director, Osswal Infosystems Pvt. Ltd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c_slide">
                        <div
                            class="happy-customer-shadow md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
                        >
                            <div
                                class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                            >
                                <Image
                                    class="pr-5"
                                    src={customer}
                                    alt="customer"
                                />
                                <div class="text-[#31393C]">
                                    <p
                                        class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                                    >
                                        Osswal Infosystems 1
                                    </p>
                                    <p
                                        class="text-xs md:text-sm lg:text-base pr-5"
                                    >
                                        Watch Mohit Nagori, Director of Osswal
                                        Infosystems Pvt. Ltd., speak about his
                                        company's journey with SAP and UBS. He
                                        shares insights about our collaboration
                                        and how to make a successful partnership
                                        work!
                                    </p>
                                    <p
                                        class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                                    >
                                        Mohit Nagori
                                    </p>
                                    <p
                                        class="text-[0.625rem] md:text-xs lg:text-sm"
                                    >
                                        Director, Osswal Infosystems Pvt. Ltd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c_slide">
                        <div
                            class="happy-customer-shadow md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
                        >
                            <div
                                class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                            >
                                <Image
                                    class="pr-5"
                                    src={customer}
                                    alt="customer"
                                />
                                <div class="text-[#31393C]">
                                    <p
                                        class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                                    >
                                        Osswal Infosystems 2
                                    </p>
                                    <p
                                        class="text-xs md:text-sm lg:text-base pr-5"
                                    >
                                        Watch Mohit Nagori, Director of Osswal
                                        Infosystems Pvt. Ltd., speak about his
                                        company's journey with SAP and UBS. He
                                        shares insights about our collaboration
                                        and how to make a successful partnership
                                        work!
                                    </p>
                                    <p
                                        class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                                    >
                                        Mohit Nagori
                                    </p>
                                    <p
                                        class="text-[0.625rem] md:text-xs lg:text-sm"
                                    >
                                        Director, Osswal Infosystems Pvt. Ltd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
            <div class="flex justify-center gap-3 mt-10">
				<!-- <Image src={previousbtn} alt="previousbtn" id="prev" />
				<Image src={nextbtn} alt="nextbtn" id="next" /> -->
                <button
                            class="rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white" id="prev"
                        >
                            <span class="sr-only">Previous Slide</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5 rtl:rotate-180"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                            </svg>
                        </button>
    
                        <button
                            class="rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white" id="next"
                        >
                            <span class="sr-only">Next Slide</span>
                            <svg
                                class="h-5 w-5 rtl:rotate-180"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9 5l7 7-7 7"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"></path>
                            </svg>
                        </button>
			</div>
        </section>
    </main>
</Layout>

<style>
    /*  slider */
    .c_slider {
            /* width: 400px; */
            overflow: hidden;
        }

        .c_slides {
            display: flex;
            width: 100%;
            transition: transform 0.3s ease-in-out;
        }

        .c_slide {
            width: 100%;
            flex-shrink: 0;
        }

        #prev,
        #next {
            margin-top: 10px;
        }


    .happy-customer-shadow {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    }

    /* we work. we learn */
    .we-work{
        background: linear-gradient(135deg, #BFDEFF 0%, #ECF5FF 100%);
    }

    .section-bg-left {
	position: relative;
    }

    .section-bg-left::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90rem;
        background-image: radial-gradient(ellipse at left, rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        z-index: -1;
        margin-top: -10rem;
    }

    .section-bg-right {
	position: relative;
    }

    .section-bg-right::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 140rem;
        background-image: radial-gradient(ellipse at right, rgba(62, 150, 244, 0.09), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        z-index: -1;
        margin-top: 8rem;
    }



	@media (max-width: 640px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -10rem;
	}
	}

	@media (max-width: 768px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -10rem; 
	}
	}
    @media (max-width: 1024px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -0rem; 
	}
	}

    .section-bg-center_career {
        position: relative;
    }
    
    .section-bg-center_career::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 120rem;
        background-image: radial-gradient(rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-origin: border-box;
        background-clip: padding-box, border-box;
        z-index: -1;
        margin-top: 12rem;
    }
</style>

<script>

    // Slides
     // Get the slider elements
	 const slider = document.querySelector(".c_slider");
        const slides = document.querySelector(".c_slides");
        const prevBtn = document.querySelector("#prev");
        const nextBtn = document.querySelector("#next");

        // Initialize variables
        let slideIndex = 0;
        const slideWidth = slider.clientWidth;
        let autoSlideInterval;

        // Move slides to specified index
        const moveToSlide = (index) => {
            slides.style.transform = `translateX(-${slideWidth * index}px)`;
        };

        // Move to next slide
        const nextSlide = () => {
            slideIndex++;
            if (slideIndex >= slides.children.length) {
                slideIndex = 0;
            }
            moveToSlide(slideIndex);
        };

        // Move to previous slide
        const prevSlide = () => {
            slideIndex--;
            if (slideIndex < 0) {
                slideIndex = slides.children.length - 1;
            }
            moveToSlide(slideIndex);
        };

        // Start auto sliding
        const startAutoSlide = () => {
            autoSlideInterval = setInterval(nextSlide, 3000); // Change slide every 3 seconds
        };

        // Stop auto sliding
        const stopAutoSlide = () => {
            clearInterval(autoSlideInterval);
        };

        // Attach event listeners to buttons
        nextBtn.addEventListener("click", () => {
            nextSlide();
            stopAutoSlide();
        });
        prevBtn.addEventListener("click", () => {
            prevSlide();
            stopAutoSlide();
        });

        // Start auto slide on page load
        startAutoSlide();
    // scroll next
    // document
    //     .getElementById("nextScrollButton")
    //     .addEventListener("click", () => {
    //         // Get the container element by its ID
    //         const containerElement = document.getElementById("scrollContainer");

    //         // Calculate the scroll amount
    //         const scrollAmount = containerElement.offsetWidth;

    //         // Perform horizontal scroll using the scrollBy method
    //         containerElement.scrollBy({
    //             top: 0,
    //             left: scrollAmount,
    //             behavior: "smooth",
    //         });
    //     });

    // // scroll pre.
    // document.getElementById("preScrollButton").addEventListener("click", () => {
    //     // Get the container element by its ID
    //     const containerElement = document.getElementById("scrollContainer");

    //     // Calculate the scroll amount
    //     const scrollAmount = -containerElement.offsetWidth;

    //     // Perform horizontal scroll using the scrollBy method
    //     containerElement.scrollBy({
    //         top: 0,
    //         left: scrollAmount,
    //         behavior: "smooth",
    //     });
    // });


    document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".swiper-container", {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 10,
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: ".next-button",
                prevEl: ".prev-button",
            },
            breakpoints: {
                640: {
                    slidesPerView: 1.5,
                    centeredSlides: true,
                },
                1024: {
                    centeredSlides: false,
                    slidesPerView: 2.25,
                },
            },
        });
    });
</script>
