---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import manu_banner from "../../public/manu-banner.svg";
import right from "../../public/right.svg";
import company1 from "../../public/company1.png";
import company2 from "../../public/company2.png";
import company3 from "../../public/company3.png";
import company4 from "../../public/company4.svg";
import company5 from "../../public/company5.svg";
import boostside from "../../public/boostside.svg";
import process from "../../public/process.svg";
import reduction from "../../public/reduction.svg";
import improvment from "../../public/improvment.svg";
import rocket from "../../public/rocket.svg";
import erpnext_feature from "../../public/erpnext-feature.svg";
import cta_mobile from "../../public/cta-mobile.svg";
import faq_bom from "../../public/faq-bom.svg";
import industry_rich from "../../public/industry-rich.svg";
import track_record from "../../public/track-record.svg";
import timely_delivery from "../../public/timely-delivery.svg";
import training from "../../public/training.svg";
import cta_people from "../../public/cta-people.svg";
import manufacturing_opration from "../../public/manufacturing-opration.png";
import b_b_manufacturing from "../../public/b&b-manufacturing.svg";
import furniture from "../../public/furniture.svg";
import shoe from "../../public/shoe.svg";
import car from "../../public/car.svg";
import electronics from "../../public/electronics.svg";
import medical from "../../public/medical.svg";
import textile from "../../public/textile.svg";
import chemical from "../../public/chemical.svg";
import metal from "../../public/metal.svg";
import plastic from "../../public/plastic.svg";
import toy from "../../public/toy.svg";
import food from "../../public/food.svg";
import customer from "../../public/customer.svg";
import previousbtn from "../../public/previousbtn.svg";
import nextbtn from "../../public/nextbtn.svg";
import down_arrow from "../../public/down-arrow.svg";
import up_arrow from "../../public/up-arrow.svg";
import form_bg from "../../public/form-bg.svg";
import approach from "../../public/approach.svg";
import skilled from "../../public/skilled.svg";
---
<Layout title="Manufacturing">
    <main>
        <section
            class="hidden lg:flex h-[calc(100vh-10vh)] relative flex-wrap items-center"
        >
            <Image
                class="absolute right-0 w-5/12"
                src={manu_banner}
                alt="manu-banner"
            />
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 flex container">
                <div class="w-7/12">
                    <h1
                        class="text-5xl text-[#31393C] font-semibold leading-[4rem]"
                    >
                        Automate tasks, Cut Costs and Boost Revenues for your
                        Manufacturing Company!
                    </h1>
                    <p class="text[#31393C] text-lg mt-5">
                        Let Sanskar Technolab help you to optimize your
                        manufacturing <br /> business operations with the best ERP
                        solutions.
                    </p>
                    <div
                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-5 py-3 w-72"
                    >
                        <a
                            href="#"
                            class="text-white font-semibold text-base font-inter"
                            >Schedule a Free demo now</a
                        >
                        <Image src={right} alt="right" class="ml-0" />
                    </div>
                </div>
            </div>
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 md:flex lg:hidden flex-wrap items-center mt-10 mb-20"
        >
            <div class="">
                <div
                    class="text-4xl text-[#31393C] font-semibold leading-[4rem]"
                >
                    Automate tasks, Cut Costs and Boost Revenues for your
                    Manufacturing Company!
                </div>
                <p class="text[#31393C] leading-7 text-lg mt-5">
                    Let Sanskar Technolab help you to optimize your
                    manufacturing business operations with the best ERP
                    solutions.
                </p>
                <div
                    class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-5 py-3 w-72"
                >
                    <a href="#" class="text-white font-semibold font-inter"
                        >Schedule a Free demo now</a
                    >
                    <Image src={right} alt="right" class="ml-0" />
                </div>
            </div>
            <Image src={manu_banner} alt="manu-banner" class="mt-5" />
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <div class="md:text-center sm:text-left">
                <h2 class="text-4xl text-[#31393C] font-semibold">
                    Over 1000+ companies are leveraging <br /> ERPNext & ServiceNow
                    for their manufacturing operations!
                </h2>
            </div>
            <div class="flex flex-wrap justify-center gap-10 my-10">
                <Image src={company1} alt="company1" />
                <Image src={company2} alt="company2" />
                <Image src={company3} alt="company3" />
                <Image src={company4} alt="company4" />
                <Image src={company5} alt="company5" />
            </div>
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <div class="flex flex-wrap items-center">
                <Image
                    class="sm:w-full md:w-5/12 lg:w-5/12"
                    src={boostside}
                    alt="boostside"
                />
                <div
                    class="sm:w-full md:w-7/12 lg:w-7/12 text-[#31393C] md:pl-10 sm:pl-0 mt-5 md:mt-auto"
                >
                    <h2 class="text-4xl font-semibold mb-5">
                        Streamline operations, boost productivity & enhance
                        revenues!
                    </h2>
                    <p class="text-base mb-5">
                        Revolutionize your manufacturing operations and take
                        your business to new heights with ERPNext & ServiceNow!
                    </p>
                    <p class="text-base mb-5">
                        With its comprehensive suite of features and
                        user-friendly interface for the manufacturing industry,
                        you can significantly streamline operations, automate
                        repetitive tasks and significantly boost revenues.
                    </p>
                    <p class="text-base">
                        At Sanskar Technolab, we are dedicated to helping
                        manufacturers harness the full potential of ERPNext and
                        ServiceNow. As a trusted implementation partner, we
                        bring a wealth of experience and expertise to ensure a
                        seamless and successful integration of the best tools
                        into your workflow.
                    </p>
                </div>
            </div>
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 flex flex-wrap sm:text-left md:items-center lg:mt-52 md:mt-52 mt-10"
        >
            <div
                class="lg:w-3/12 md:w-3/12 sm:w-full text-[#31393C] font-semibold mb-5 md:mb-0"
            >
                <h1 class="text-4xl">Lesser costs, better results!</h1>
                <p class="text-xl mt-5">
                    Here's what our clients have achieved through Successful
                    Implementation for manufacturing!
                </p>
            </div>
            <div class="lg:w-9/12 md:w-9/12 w-full md:pl-5">
                <div class="overflow-x-scroll custom-scrollbar">
                    <div class="flex gap-7">
                        <div
                            class="grid flex-shrink-0 p-5 let-shadow w-64 h-64 mr-10"
                        >
                            <Image class="justify-self-end"
                                src={process}
                                alt="process"
                            />
                            <p
                                class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold"
                            >
                                23%
                            </p>
                            <p class="text-[#31393C] font-semibold">
                                Faster Processes through automation.
                            </p>
                        </div>
                        <div
                            class="grid flex-shrink-0 p-5 rounded-[10px] let-shadow w-64 h-64 mr-10"
                        >
                            <Image
                                class="justify-self-end"
                                src={reduction}
                                alt="reduction"
                            />
                            <p
                                class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold"
                            >
                                40%
                            </p>
                            <p class="text-[#31393C] font-semibold">
                                Reduction in Inventory Costs with real-time
                                visibility and optimized stock levels.
                            </p>
                        </div>
                        <div
                            class="grid flex-shrink-0 p-5 rounded-[10px] let-shadow w-64 h-64 mr-10"
                        >
                            <Image
                                class="justify-self-end"
                                src={improvment}
                                alt="improvment"
                            />
                            <p
                                class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold"
                            >
                                30%
                            </p>
                            <p class="text-[#31393C] font-semibold">
                                Improvement in on-time delivery through
                                effective production planning and scheduling.
                            </p>
                        </div>
                        <div
                            class="grid flex-shrink-0 p-5 rounded-[10px] let-shadow w-64 h-64 mr-10"
                        >
                            <Image
                                class="justify-self-end"
                                src={rocket}
                                alt="rocket"
                            />
                            <p
                                class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold"
                            >
                                50%
                            </p>
                            <p class="text-[#31393C] font-semibold">
                                Reduction in Quality Issues through
                                comprehensive quality control features.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-40 md:mt-40 mt-10"
        >
            <div class="md:text-center sm:text-left">
                <h2
                    class="text-4xl text-[#31393C] leading-[3rem] font-semibold"
                >
                    ERPNext is simplifying<br />
                    the manufacturing industry at the core!
                </h2>
            </div>
            <div
                class="grid grid-cols-3 gap-4 text-[#31393C] font-semibold mt-10 lg:mx-72 md:mx-56 sm:mx-5 text-left justify-items-center items-center"
            >
                <div
                    class="bg-[#FDFAF4] rounded-[10px] h-14 w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Dashboard
                </div>
                <div
                    class="bg-[#FCFDFD] rounded-[10px] h-14 w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Security
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-14 w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Helpdesk
                </div>
            </div>
            <div
                class="grid grid-cols-6 gap-4 text-[#31393C] font-semibold mx-10 text-center justify-items-center items-center"
            >
                <div
                    class="mt-10 bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[7.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Payment <br /> Gateway
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Purchase
                </div>
                <div
                    class="bg-[#FCFDFD] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Quality <br /> Control
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Distribution
                </div>
                <div
                    class="bg-[#FDFAF4] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Capacity <br /> Planning
                </div>
                <div
                    class="mt-10 bg-[#FCFDFD] rounded-[10px] h-[4.5rem] w-[7.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Notifications
                </div>
            </div>
            <div
                class="grid grid-cols-5 gap-4 text-[#31393C] font-semibold mx-20 text-center justify-items-center items-center"
            >
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Material, Resource & Planning
                </div>
                <div
                    class="bg-[#FDFAF4] rounded-[10px] h-[6rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Manufacturing BOM, Planning & Forcasting
                </div>
                <div
                    class="bg-[#3D96F5] rounded-[10px] h-[6.875rem] w-[11.5rem] border border-white justify-center items-center flex flex-wrap text-white"
                >
                    <Image src="../../public/erpnext.png" alt="erpnext"/>Enterprise
                    Manufacturing
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-[6rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Batched <br /> Inventory
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Asset <br /> Management
                </div>
            </div>
            <div
                class="grid grid-cols-6 gap-4 text-[#31393C] font-semibold mx-10 text-center justify-items-center items-center"
            >
                <div
                    class="mb-10 bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[7.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Multilingual
                </div>
                <div
                    class="bg-[#FCFDFD] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Workflow
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Project <br /> Management
                </div>
                <div
                    class="bg-[#FCFDFD] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    HR and <br /> Payroll
                </div>
                <div
                    class="bg-[#FDFAF4] rounded-[10px] h-[4.5rem] w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    CRM
                </div>
                <div
                    class="mb-10 bg-[#F8FBFE] rounded-[10px] h-[4.5rem] w-[7.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Training
                </div>
            </div>
            <div
                class="grid grid-cols-3 gap-4 text-[#31393C] font-semibold mx-72 text-left justify-items-center items-center"
            >
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-14 w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Reports
                </div>
                <div
                    class="bg-[#FDFAF4] rounded-[10px] h-14 w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Billing
                </div>
                <div
                    class="bg-[#F8FBFE] rounded-[10px] h-14 w-[9.5rem] border border-[#E9EEF3] flex justify-center items-center"
                >
                    Accounting
                </div>
            </div>
        </section> -->

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <div
                class="md:text-center sm:text-left items-center justify-items-center"
            >
                <h2
                    class="text-4xl text-[#31393C] leading-[3rem] font-semibold"
                >
                    ERPNext is simplifying<br />
                    the manufacturing industry at the core!
                </h2>
                <Image
                    class="mt-10 lg:ml-16"
                    src={erpnext_feature}
                    alt="erpnext-feature"
                />
            </div>
        </section>

        <section
            class="hidden lg:block mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <div
                class="bg-join-hand bg-cover bg-no-repeat bg-center md:bg-contain md:bg-right h-96 grid p-16 pt-24 items-center"
            >
                <h2
                    class="w-10/12 text4xl leading-[2.75rem] text-white font-semibold"
                >
                    Join hands with Sanskar Technolab to handle your ERP
                    manufacturing implementation!
                </h2>
                <div
                    class="text-white text-base font-semibold flex items-center gap-3 -mt-14 font-inter"
                >
                    <p>Book a free consultation</p>
                    <div
                        class="flex justify-between bg-white rounded-lg px-5 py w-32"
                    >
                        <a
                            href="#"
                            class="text-[#3E96F4] font-semibold text-base font-inter"
                            >Call now!</a
                        >
                        <Image src={right} alt="right" class="ml-0" />
                    </div>
                </div>
            </div>
        </section>

        <section class="block lg:hidden mt-10 bg-[#3E96F4] pb-10">
            <div class="mx-5">
                <Image src={cta_mobile} alt="cta-mobile" />
                <h2 class="text-4xl leading-[2.75rem] text-white font-semibold">
                    Join hands with Sanskar Technolab to handle your ERP
                    manufacturing implementation!
                </h2>
                <div
                    class="text-white text-base font-semibold flex items-center gap-3 font-inter mt-5"
                >
                    <p>Book a free consultation</p>
                    <div
                        class="flex justify-between bg-white rounded-lg px-5 py-3 w-32"
                    >
                        <a
                            href="#"
                            class="text-[#3E96F4] font-semibold text-base font-inter"
                            >Call now!</a
                        >
                        <Image src={right} alt="right" class="ml-0" />
                    </div>
                </div>
            </div>
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <h2
                class="text-4xl text-[#31393C] font-semibold sm:text-left md:text-center lg:mx-40 md:mx-auto mx-auto mb-10"
            >
                How can the right tools benefit your manufacturing operations?
            </h2>
            <div
                class="bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-5 shadow drop-shadow-sm"
            >
                <div class="flex flex-wrap">
                    <div class="sm:w-full md:w-4/12 lg:w-4/12 mt-3">
                        <div class="bg-white rounded-l-lg p-3 mb-3" id="faq11w">
                            <button class="text-base leading-[22px]" id="faq1w">
                                Bill of Materials (BOM) Management
                            </button>
                        </div>
                        <div
                            class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                            id="faq21w"
                        >
                            <button class="text-base leading-[22px]" id="faq2w">
                                Production Planning and Scheduling
                            </button>
                        </div>
                        <div
                            class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                            id="faq31w"
                        >
                            <button class="text-base leading-[22px]" id="faq3w">
                                Inventory and Warehouse Management
                            </button>
                        </div>
                        <div
                            class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                            id="faq41w"
                        >
                            <button class="text-base leading-[22px]" id="faq4w">
                                Quality Control and Assurance
                            </button>
                        </div>
                        <div
                            class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                            id="faq51w"
                        >
                            <button class="text-base leading-[22px]" id="faq5w">
                                Shop Floor Control
                            </button>
                        </div>
                    </div>

                    <div
                        class="sm:w-full md:w-8/12 lg:w-8/12 bg-white rounded-[10px] p-8"
                        id="faq1_cw"
                    >
                        <p class="text-xl leading-9 font-semibold mb-7">
                            Bill of Materials (BOM) Management
                        </p>
                        <p class="text-base mb-7">
                            ERPNext provides robust BOM management capabilities,
                            allowing manufacturers to create, manage, and track
                            BOMs for their products.
                        </p>
                        <Image src={faq_bom} alt="faq-bom" />
                        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 mt-5">
                            <div class="flex items-center gap-2 ml-2">
                                <div
                                    class="bg-gradient-to-r from-[#D4EAFF] to-[#3E96F4] rounded-full h-2.5 w-2.5"
                                >
                                </div>
                                <p class="text-base leading-7">
                                    Enables accurate cost calculations
                                </p>
                            </div>
                            <div class="flex items-center gap-2 ml-2">
                                <div
                                    class="bg-gradient-to-r from-[#D4EAFF] to-[#3E96F4] rounded-full h-2.5 w-2.5"
                                >
                                </div>
                                <p class="text-base leading-7">
                                    Streamlined production processes
                                </p>
                            </div>
                            <div class="flex items-center gap-2 ml-2">
                                <div
                                    class="bg-gradient-to-r from-[#D4EAFF] to-[#3E96F4] rounded-full h-2.5 w-2.5"
                                >
                                </div>
                                <p class="text-base leading-7">
                                    Efficient material planning
                                </p>
                            </div>
                            <div class="flex items-center gap-2 ml-2">
                                <div
                                    class="bg-gradient-to-r from-[#D4EAFF] to-[#3E96F4] rounded-full h-2.5 w-2.5"
                                >
                                </div>
                                <p class="text-base leading-7">
                                    Better administration
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <div class="md:text-center sm:text-left">
                <h2 class="text-4xl text-[#31393C] font-semibold">
                    Why Sanskar Technolabs for your <br /> Manufacturing implementation
                    solutions?
                </h2>
            </div>

            <div
                class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 mt-10 gap-10"
            >
                <div class="flex flex-wrap text-[#31393C]">
                    <Image
                        class="lg:w-3/12 md:w-3/12 sm:w-12/12 h-20"
                        src={industry_rich}
                        alt="industry-rich"
                    />
                    <div class="lg:w-9/12 md:w-9/12 sm:w-12/12">
                        <p class="text-xl font-semibold">
                            Industry Rich Experience
                        </p>
                        <p class="text-base">
                            At Sanskar Technolab, we deeply understand the
                            manufacturing industry's unique challenges and
                            requirements. With years of experience working with
                            manufacturing businesses, we bring our expertise for
                            customized results.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap text-[#31393C]">
                    <Image
                        class="lg:w-3/12 md:w-3/12 sm:w-12/12 h-20"
                        src={track_record}
                        alt="track-record"
                    />
                    <div class="lg:w-9/12 md:w-9/12 sm:w-12/12">
                        <p class="text-xl font-semibold">Proven Track Record</p>
                        <p class="text-base">
                            Our track record speaks for itself. We have a long
                            list of satisfied clients who have experienced
                            remarkable transformations in their manufacturing
                            operations through our end-to-end implementations.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap text-[#31393C]">
                    <Image
                        class="lg:w-3/12 md:w-3/12 sm:w-12/12 h-20"
                        src={approach}
                        alt="approach"
                    />
                    <div class="lg:w-9/12 md:w-9/12 sm:w-12/12">
                        <p class="text-xl font-semibold">
                            Collaborative Approach
                        </p>
                        <p class="text-base">
                            We believe in building strong partnerships with our
                            clients. We take the time to understand their
                            business goals, processes, and pain points and adopt
                            collaborative approaches with the best project
                            management & communication tools.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap text-[#31393C]">
                    <Image
                        class="lg:w-3/12 md:w-3/12 sm:w-12/12 h-20"
                        src={skilled}
                        alt="skilled"
                    />
                    <div class="lg:w-9/12 md:w-9/12 sm:w-12/12">
                        <p class="text-xl font-semibold">
                            Skilled and Dedicated Team
                        </p>
                        <p class="text-base">
                            Sanskar Technolab team stays updated with the latest
                            industry trends and best practices of implementation
                            with end-to-end guidance, support, and training to
                            ensure a smooth and successful implementation.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap text-[#31393C]">
                    <Image
                        class="lg:w-3/12 md:w-3/12 sm:w-12/12 h-20"
                        src={timely_delivery} alt="timely-delivery"
                    />
                    <div class="lg:w-9/12 md:w-9/12 sm:w-12/12">
                        <p class="text-xl font-semibold">
                            Timely Delivery and Cost-Effectiveness
                        </p>
                        <p class="text-base">
                            We prioritize delivering projects on time and within
                            the agreed budget for our clients. Sanskar Technolab
                            follows a well-defined methodology to ensure
                            efficient project management, cost-effectiveness,
                            and timely communication.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap text-[#31393C]">
                    <Image
                        class="lg:w-3/12 md:w-3/12 sm:w-12/12 h-20"
                        src={training}
                        alt="training"
                    />
                    <div class="lg:w-9/12 md:w-9/12 sm:w-12/12">
                        <p class="text-xl font-semibold">
                            Comprehensive Training and Support
                        </p>
                        <p class="text-base">
                            We don't just help with the implementation; we
                            believe in empowering your team with the required
                            knowledge and skills even after the implementation
                            is completed to ensure satisfactory results.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
        >
            <div
                class="bg-[#31393C] flex flex-wrap items-center flex-col-reverse md:flex-col-reverse lg:flex-row rounded-[20px] bg-cta bg-right bg-no-repeat lg:relative"
            >
                <div
                    class="hidden lg:block lg:absolute f inset-0 z-0 h-72 margin"
                >
                </div>
                <div class="lg:w-8/12 md:w-full sm:w-full p-5 md:p-12 z-10">
                    <h2 class="text-4xl text-white font-semibold">
                        Take your Manufacturing Operations to the New Level with
                        Us!
                    </h2>
                    <div
                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-5 py-3 md:w-64 lg:w-64 w-auto"
                    >
                        <a
                            href="#"
                            class="text-white font-semibold text-base font-inter"
                            >Connect with our team</a
                        >
                        <Image src={right} alt="right" class="ml-0" />
                    </div>
                </div>
                <div class="lg:w-4/12 md:w-full sm:w-full z-10">
                    <Image
                        class="hidden lg:block"
                        src={cta_people}
                        alt="cta-people"
                    />
                    <Image
                        class="block lg:hidden sm:w-full p-5 md:p-12 md:rounded-[4rem] rounded-[2rem]"
                        src={manufacturing_opration}
                        alt="manufacturing-opration"
                    />
                </div>
            </div>

            <section
                class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-40 md:mt-40 mt-10"
            >
                <div class="md:text-center sm:text-left">
                    <h2 class="text-4xl text-[#31393C] font-semibold">
                        Different manufacturing businesses <br /> we have helped
                        so far!
                    </h2>
                    <p class="font-semibold text-base my-3">
                        No matter what your business requirements are? We have
                        got you covered!
                    </p>
                </div>
                <div
                    class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-5 text-[#31393C] font-bold text-lg mt-10"
                >
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image
                            src={b_b_manufacturing}
                            alt="b&b-manufacturing"
                        />
                        <p>Breweries & Beverage Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={furniture} alt="furniture" />
                        <p>Furniture Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={shoe} alt="shoe" />
                        <p>Shoe Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={car} alt="car" />
                        <p>Car Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={electronics} alt="electronics" />
                        <p>Electronics Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={medical} alt="medical" />
                        <p>Medical Equipment Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={textile} alt="textile" />
                        <p>Textile Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={chemical} alt="chemical" />
                        <p>Chemical Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={metal} alt="metal" />
                        <p>Metal Fabrication Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={plastic} alt="plastic" />
                        <p>Plastic Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={toy} alt="toy" />
                        <p>Toy Manufacturers</p>
                    </div>
                    <div
                        class="rounded-lg mb-shadow flex items-center border border-[#B5CBE3]"
                    >
                        <Image src={food} alt="food" />
                        <p>Food Production Industries</p>
                    </div>
                </div>
            </section>

            <section
                class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-40 md:mt-40 mt-10 relative"
            >
                <div class="md:text-center sm:text-left md:mb-20">
                    <h2 class="text-4xl text-[#31393C] font-semibold">
                        Hear from our customers in a similar industry!
                    </h2>
                    <p class="text-[#31393C] font-semibold mt-5 text-base">
                        Don't take our word; hear it from our customers…
                    </p>
                </div>

                <div
                    class="happy-customer-shadow md:p-10 p-5 rounded-[20px] slideshow md:h-[23rem] h-[33rem] mt-5"
                >
                    <div
                        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5 slide"
                    >
                        <Image class="pr-5" src={customer} alt="customer" />
                        <div class="text-[#31393C]">
                            <p class="text-xl leading-9 font-semibold my-3">
                                Osswal Infosystems
                            </p>
                            <p class="text-base pr-5">
                                Watch Mohit Nagori, Director of Osswal
                                Infosystems Pvt. Ltd., speak about his company's
                                journey with SAP and UBS. He shares insights
                                about our collaboration and how to make a
                                successful partnership work!
                            </p>
                            <p class="text-base font-semibold mt-5">
                                Mohit Nagori
                            </p>
                            <p class="text-sm">
                                Director, Osswal Infosystems Pvt. Ltd.
                            </p>
                        </div>
                    </div>

                    <div
                        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5 slide"
                    >
                        <Image class="pr-5" src={customer} alt="customer" />
                        <div class="text-[#31393C]">
                            <p class="text-xl leading-9 font-semibold my-3">
                                Osswal Infosystems 2
                            </p>
                            <p class="text-base pr-5">
                                2. Watch Mohit Nagori, Director of Osswal
                                Infosystems Pvt. Ltd., speak about his company's
                                journey with SAP and UBS. He shares insights
                                about our collaboration and how to make a
                                successful partnership work!
                            </p>
                            <p class="text-base font-semibold mt-5">
                                Mohit Nagori
                            </p>
                            <p class="text-sm">
                                Director, Osswal Infosystems Pvt. Ltd.
                            </p>
                        </div>
                    </div>

                    <div
                        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5 slide"
                    >
                        <Image class="pr-5" src={customer} alt="customer" />
                        <div class="text-[#31393C]">
                            <p class="text-xl leading-9 font-semibold my-3">
                                Osswal Infosystems 3
                            </p>
                            <p class="text-base pr-5">
                                3. Watch Mohit Nagori, Director of Osswal
                                Infosystems Pvt. Ltd., speak about his company's
                                journey with SAP and UBS. He shares insights
                                about our collaboration and how to make a
                                successful partnership work!
                            </p>
                            <p class="text-base font-semibold mt-5">
                                Mohit Nagori
                            </p>
                            <p class="text-sm">
                                Director, Osswal Infosystems Pvt. Ltd.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="flex justify-center gap-3 mt-10">
                <Image src={previousbtn} alt="previousbtn" id="preBtn" />
                <Image src={nextbtn} alt="nextbtn" id="nextBtn" />
            </div>
        </section>

        <section
			class="mx-5 md:max-w-7xl md:mx-auto md:px-24 lg:mt-52 md:mt-52 mt-10"
		>
			<div
				class="hidden md:block lg:block bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-5"
			>
				<h2 class="text-[1.75rem] font-semibold mb-5 ml-3 leading-9">
					Frequently Asked Questions (FAQs)
				</h2>
				<div class="flex flex-wrap">
					<div class="sm:w-full md:w-5/12 lg:w-5/12">
						<div class="bg-white rounded-l-lg p-3 mb-3" id="faq11">
							<button class="text-base leading-[22px] text-left" id="faq1">
								Can Sanskar Technolab handle both small-scale and large-scale ERPNext implementations?
							</button>
						</div>
						<div
							class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
							id="faq21"
						>
							<button class="text-base leading-[22px] text-left" id="faq2">
								Can you provide a free demo for my manufacturing implementation?
							</button>
						</div>
						<div
							class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
							id="faq31"
						>
							<button class="text-base leading-[22px] text-left" id="faq3">
								Do you sign an NDA for the project?
							</button>
						</div>
						<div
							class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
							id="faq41"
						>
							<button class="text-base leading-[22px] text-left" id="faq4">
								What training and support do you provide during and after ERPNext implementation?
							</button>
						</div>
                        <div
							class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
							id="faq51"
						>
							<button class="text-base leading-[22px] text-left" id="faq5">
                                Can Sanskar Technolab assist with data migration from our current systems to ERPNext?
                            </button>
						</div>
					</div>

					<div
						class="sm:w-full md:w-7/12 lg:w-7/12 bg-white rounded-r-[10px] p-8"
						id="faq1_c"
					>
						<p class="text-xl font-semibold mb-7">
							Can Sanskar Technolab handle both small-scale and large-scale ERPNext implementations?
						</p>
						<p class="text-base mb-7">
							Yes, Sanskar Technolab has the expertise and skills to handle ERPNext implementations for businesses of all sizes. Whether you are a small-scale manufacturer or a large enterprise, we have the capabilities to tailor the ERPNext solution to match your requirements and scale as your business grows.
						</p>
					</div>

					<div
						class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white rounded-r-[10px] p-8"
						id="faq2_c"
					>
						<p class="text-xl leading-9 font-semibold mb-7">
							Can you provide a free demo for my manufacturing implementation?
						</p>
						<p class="text-base mb-7">
							ERPNext is an open-source low-code platform with
							various modules to cater to diverse industries and
							their needs.
						</p>
					</div>

					<div
						class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white rounded-r-[10px] p-8"
						id="faq3_c"
					>
						<p class="text-xl leading-9 font-semibold mb-7">
							Do you sign an NDA for the project?
						</p>
						<p class="text-base mb-7">
							ERPNext is an open-source low-code platform with
							various modules to cater to diverse industries and
							their needs.
						</p>
						
					</div>

					<div
						class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white rounded-r-[10px] p-8"
						id="faq4_c"
					>
						<p class="text-xl leading-9 font-semibold mb-7">
							What training and support do you provide during and after ERPNext implementation?
						</p>
						<p class="text-base mb-7">
							ERPNext is an open-source low-code platform with
							various modules to cater to diverse industries and
							their needs.
						</p>
						
					</div>
                    <div
						class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white rounded-r-[10px] p-8"
						id="faq5_c"
					>
						<p class="text-xl leading-9 font-semibold mb-7">
							Can Sanskar Technolab assist with data migration from our current systems to ERPNext?
						</p>
						<p class="text-base mb-7">
							ERPNext is an open-source low-code platform with
							various modules to cater to diverse industries and
							their needs.
						</p>
						
					</div>
				</div>
			</div>

			<div
				x-data="{ accordion: 0 }"
				class="md:hidden grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-5 shadow drop-shadow-sm"
			>
				<h2 class="text-[1.75rem] font-semibold ml-3 leading-9">
					Frequently Asked Questions (FAQs)
				</h2>
				<div class="bg-white rounded-2xl">
					<div
						class="flex justify-between p-5"
						@click="accordion = accordion == 0 ? 1 : 0"
					>
						<div class="cursor-pointer">
							Can Sanskar Technolab handle both small-scale and large-scale ERPNext implementations?
						</div>
						<Image
							:class="accordion === 1 ? 'block' : 'hidden'"
							src={down_arrow} alt="down-arrow"
						/>
						<Image
							:class="accordion !== 1 ? 'block' : 'hidden'"
							src={up_arrow} alt="up-arrow"
						/> 
					</div>
					<div
						class="overflow-hidden bg-white"
						:class="accordion !== 0 ? 'h-0' : 'border-t-4'"
					>
						<div
							class="sm:w-full md:w-7/12 lg:w-7/12 bg-white rounded-r-[10px] p-8"
							id="faq1_c"
						>
							<p class="text-base mb-7">
								ERPNext is an open-source low-code platform with
								various modules to cater to diverse industries
								and their needs.
							</p>
							<p class="text-base font-semibold">
								Here are out-of-the-box benefits of the ERPNext
								platform -
							</p>
							
						</div>
					</div>
				</div>
				<div class="bg-white rounded-2xl">
					<div
						class="flex justify-between p-5"
						@click="accordion = accordion == 2 ? 0 : 2"
					>
						<div class="cursor-pointer">
							How long does my implementation project usually
							take?
						</div>
						<Image
							:class="accordion !== 2 ? 'block' : 'hidden'"
							src={down_arrow} alt="down-arrow"
						/>
						<Image
							:class="accordion === 2 ? 'block' : 'hidden'"
							src={up_arrow} alt="up-arrow"
						/>
					</div>
					<div
						class="overflow-hidden bg-white"
						:class="accordion !== 2 ? 'h-0' : 'border-t-4'"
					>
						<p class="p-3">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Etiam ac hendrerit turpis. Etiam eu mattis
							tortor. Cras blandit sapien hendrerit libero
							tristique hendrerit. Curabitur tincidunt
							sollicitudin laoreet. Integer ultrices elementum
							tortor, quis dapibus tellus sodales quis. Nulla id
							elit vestibulum, blandit lorem at, rhoncus elit. Sed
							feugiat quam et sollicitudin pellentesque. Aliquam
							erat volutpat. Integer nec elementum odio, nec
							aliquam metus. Ut non mattis nunc.
						</p>
					</div>
				</div>
				<div class="bg-white rounded-2xl">
					<div
						class="flex justify-between p-5"
						@click="accordion = accordion == 3 ? 0 : 3"
					>
						<div class="cursor-pointer">
							Do you provide a free demo before getting started?
						</div>
						<Image
							:class="accordion !== 3 ? 'block' : 'hidden'"
							src={down_arrow} alt="down-arrow"
						/>
						<Image
							:class="accordion === 3 ? 'block' : 'hidden'"
							src={up_arrow} alt="up-arrow"
						/>
					</div>
					<div
						class="overflow-hidden bg-white"
						:class="accordion !== 3 ? 'h-0' : 'border-t-4'"
					>
						<p class="p-3">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Etiam ac hendrerit turpis. Etiam eu mattis
							tortor. Cras blandit sapien hendrerit libero
							tristique hendrerit. Curabitur tincidunt
							sollicitudin laoreet. Integer ultrices elementum
							tortor, quis dapibus tellus sodales quis. Nulla id
							elit vestibulum, blandit lorem at, rhoncus elit. Sed
							feugiat quam et sollicitudin pellentesque. Aliquam
							erat volutpat. Integer nec elementum odio, nec
							aliquam metus. Ut non mattis nunc.
						</p>
					</div>
				</div>
				<div class="bg-white rounded-2xl">
					<div
						class="flex justify-between p-5"
						@click="accordion = accordion == 4 ? 0: 4"
					>
						<div class="cursor-pointer">
							What is your implementation process?
						</div>
						<Image
							:class="accordion !== 4 ? 'block' : 'hidden'"
							src={down_arrow} alt="down-arrow"
						/>
						<Image
							:class="accordion === 4 ? 'block' : 'hidden'"
							src={up_arrow} alt="up-arrow"
						/>
					</div>
					<div
						class="overflow-hidden bg-white"
						:class="accordion !== 4 ? 'h-0' : 'border-t-4'"
					>
						<p class="p-3">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Etiam ac hendrerit turpis. Etiam eu mattis
							tortor. Cras blandit sapien hendrerit libero
							tristique hendrerit. Curabitur tincidunt
							sollicitudin laoreet. Integer ultrices elementum
							tortor, quis dapibus tellus sodales quis. Nulla id
							elit vestibulum, blandit lorem at, rhoncus elit. Sed
							feugiat quam et sollicitudin pellentesque. Aliquam
							erat volutpat. Integer nec elementum odio, nec
							aliquam metus. Ut non mattis nunc.
						</p>
					</div>
				</div>
			</div>
		</section>
        <!-- <section class="bg-[#3E96F4] flex mt-40 relative">
            <div
                class="bg-[url(../../public/form-bg-3.png)] w-5/12 bg-no-repeat bg-center bg-cover"
            >
                <Image
                    src="../../public/form-bg.svg"
                    alt="Image description"
                    class="absolute left-52 -top-32"
                />
            </div>
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 w-7/12 p-10">
                <h4 class="font-semibold text-white text-4xl">
                    Let's craft awesomeness together!
                </h4>
                <div
                    class="mt-5 flex justify-between bg-white rounded-lg px-5 py-3 w-56"
                >
                    <a href="#" class="text-[#3E96F4] text-base font-semibold font-inter"
                        >Fill up a form now.</a
                    >
                    <Image src="../../public/right.svg" alt="right" class="ml-0" />
                </div>
            </div>
        </section> -->
        <!-- <section class="bg-[#3E96F4] flex flex-wrap mt-40 relative">
            <div
                class="bg-form-3 w-full md:w-5/12 bg-no-repeat bg-center bg-cover"
            >
                <Image
                    src={form_bg}
                    alt="form-bg"
                    class="block md:absolute md:left-52 md:-top-32"
                />
            </div>
            <div
                class="mx-5 md:max-w-7xl md:mx-auto md:px-24 w-full md:w-7/12 p-10"
            >
                <h4 class="font-semibold text-white text-4xl">
                    Let's craft awesomeness together!
                </h4>
                <div
                    class="mt-5 flex justify-between bg-white rounded-lg px-5 py-3 w-56"
                >
                    <a
                        href="#"
                        class="text-[#3E96F4] text-base font-semibold font-inter"
                        >Fill up a form now.</a
                    >
                    <Image src={right} alt="right" class="ml-0" />
                </div>
            </div>
        </section> -->
    </main>
</Layout>
<style>

    .bg-join-hand{
        background-image: url('../../public/join-hand.svg');
    }

    .bg-form-3{
        background-image: url('../../public/form-bg-3.png');
    }

    /* .bg-cta{
        background-image: url('../../public/cta_bg.svg');
    } */
    @media only screen and (min-width: 1024px) {
        .bg-cta{
        background-image: url('../../public/cta_bg.svg');
    }
    }
    .text4xl {
        font-size: 2.25rem;
    }
    .py {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    @media only screen and (max-width: 1200px) {
        .text4xl {
            font-size: 1.5rem;
        }
        .py {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }

    .mb-shadow {
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    }
    .happy-customer-shadow {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    }
    .bgimg {
        background: url("../../public/opration.svg"),
            lightgray 50% / cover no-repeat;
    }
    .let-shadow {
        border-radius: 10px;
        border: 2px solid #fff;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
        box-shadow: 0px 0px 100px 0px rgba(62, 150, 244, 0.1) inset,
            4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #f3f3f3;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #c3c3c3;
        border-radius: 4px;
    }

    /* For Firefox */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #c3c3c3 #f3f3f3;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /*  slider */
    .slideshow {
        height: 23rem;
        overflow: hidden;
        position: relative;
    }

    .slide {
        height: max-content;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .slide.active {
        opacity: 1;
    }

    .custom-scrollbar1::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: #f3f3f3;
    }

    .custom-scrollbar1::-webkit-scrollbar-thumb {
        background-color: #c3c3c3;
        border-radius: 1px;
    }

    /* For Firefox */
    .custom-scrollbar1 {
        scrollbar-width: thin;
        scrollbar-color: #c3c3c3 #f3f3f3;
    }

    .f {
        background: linear-gradient(
            91deg,
            #31393c 0%,
            rgba(49, 57, 60, 0) 100%
        );
    }

    .margin {
        margin-left: 34rem;
    }
    @media only screen and (max-width: 1288px) {
        .margin {
            margin-left: 20rem;
        }
    }
    @media only screen and (max-width: 1069px) {
        .margin {
            margin-left: 10rem;
        }
    }
</style>
<script>
    // show and hide faq content
	// show faq1
	const faq1 = document.getElementById("faq1");
	faq1.addEventListener("click", show_faq1);

	function show_faq1() {
		document.getElementById("faq11").classList.remove("!bg-white", "!bg-opacity-70");

		document.getElementById("faq21").classList.remove("!bg-white");
		document.getElementById("faq31").classList.remove("!bg-white");
		document.getElementById("faq41").classList.remove("!bg-white");
        document.getElementById("faq51").classList.remove("!bg-white");

		document.getElementById("faq1_c").classList.remove("hidden");
		document.getElementById("faq2_c").classList.remove("!block");
		document.getElementById("faq3_c").classList.remove("!block");
		document.getElementById("faq4_c").classList.remove("!block");
        document.getElementById("faq5_c").classList.remove("!block");
	}

	// show faq2
	const faq2 = document.getElementById("faq2");
	faq2.addEventListener("click", show_faq2);

	function show_faq2() {
		document.getElementById("faq21").classList.add("!bg-white");

		document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
		document.getElementById("faq31").classList.remove("!bg-white");
		document.getElementById("faq41").classList.remove("!bg-white");
        document.getElementById("faq51").classList.remove("!bg-white");

		document.getElementById("faq1_c").classList.add("hidden");
		document.getElementById("faq2_c").classList.add("!block");
		document.getElementById("faq3_c").classList.remove("!block");
		document.getElementById("faq4_c").classList.remove("!block");
        document.getElementById("faq5_c").classList.remove("!block");
	}

	//show faq3
	const faq3 = document.getElementById("faq3");
	faq3.addEventListener("click", show_faq3);

	function show_faq3() {
		document.getElementById("faq31").classList.add("!bg-white");

		document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
		document.getElementById("faq21").classList.remove("!bg-white");
		document.getElementById("faq41").classList.remove("!bg-white");
        document.getElementById("faq51").classList.remove("!bg-white");

		document.getElementById("faq1_c").classList.add("hidden");
		document.getElementById("faq2_c").classList.remove("!block");
		document.getElementById("faq3_c").classList.add("!block");
		document.getElementById("faq4_c").classList.remove("!block");
        document.getElementById("faq5_c").classList.remove("!block");
	}

	// show faq4
	const faq4 = document.getElementById("faq4");
	faq4.addEventListener("click", show_faq4);

	function show_faq4() {
		document.getElementById("faq41").classList.add("!bg-white");

		document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
		document.getElementById("faq21").classList.remove("!bg-white");
		document.getElementById("faq31").classList.remove("!bg-white");
        document.getElementById("faq51").classList.remove("!bg-white");

		document.getElementById("faq1_c").classList.add("hidden");
		document.getElementById("faq2_c").classList.remove("!block");
		document.getElementById("faq3_c").classList.remove("!block");
        document.getElementById("faq5_c").classList.remove("!block");
		document.getElementById("faq4_c").classList.add("!block");
	}

    // show faq5
	const faq5 = document.getElementById("faq5");
	faq5.addEventListener("click", show_faq5);

	function show_faq5() {
		document.getElementById("faq51").classList.add("!bg-white");

		document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
		document.getElementById("faq21").classList.remove("!bg-white");
		document.getElementById("faq31").classList.remove("!bg-white");
        document.getElementById("faq41").classList.remove("!bg-white");

		document.getElementById("faq1_c").classList.add("hidden");
		document.getElementById("faq2_c").classList.remove("!block");
		document.getElementById("faq3_c").classList.remove("!block");
        document.getElementById("faq4_c").classList.remove("!block");
		document.getElementById("faq5_c").classList.add("!block");
	}

    // Slides

    const slides = document.querySelectorAll(".slide");
    const nextBtn = document.getElementById("nextBtn");
    const preBtn = document.getElementById("preBtn");
    let currentIndex = 0;

    function showSlide(index) {
        slides.forEach((slide) => {
            slide.classList.remove("active");
        });
        slides[index].classList.add("active");
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % slides.length;
        showSlide(currentIndex);
    }

    function preSlide() {
        currentIndex = (currentIndex + 1) % slides.length;
        showSlide(currentIndex);
    }

    nextBtn.addEventListener("click", nextSlide);
    preBtn.addEventListener("click", preSlide);

    // Auto slide every 3 seconds
    setInterval(nextSlide, 3000);
</script>
