---
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
import right from "../../public/right.svg";
import manufacturing from "../../public/manufacturing.svg";
import textile_i from "../../public/textile_i.svg";
import healthcare from "../../public/healthcare.svg";
import retail from "../../public/retail.svg";
import construction from "../../public/construction.svg";
import crowdfunding from "../../public/crowdfunding.svg";
import hr from "../../public/hr.svg";
import ayurveda from "../../public/ayurveda.svg";
import slider1 from "../../public/m_slider1.svg";
import slider2 from "../../public/m_slider2.svg";
import slider3 from "../../public/m_slider3.svg";
import slider4 from "../../public/m_slider4.svg";
import slider5 from "../../public/m_slider5.svg";
---

<Layout title="slider1">
    <main>
        <section
            class="section-bg-left pt-[6.25rem] md:pt-[6.25rem] lg:pt-[12.5rem]"
        >
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24">
                <div class="md:text-center sm:text-left md:mb-20">
                    <h2
                        class="text-2xl md:text-3xl lg:text-4xl text-[#31393C] font-semibold"
                    >
                        Industries we have worked with so far!
                    </h2>
                </div>
                <div
                    id="carouselExampleCaptions"
                    class="relative"
                    data-te-carousel-init
                    data-te-carousel-slide
                >
                    <!-- Other content goes here -->
                    <div class="flex mt-5 inset-0 z-10">
                        <button
                            class="rounded-full border border-gray-600 p-4 text-gray-600 hover:bg-gray-600 hover:text-white"
                            id="preScrollButton"
                            data-te-target="#carouselExampleCaptions"
                            data-te-slide="prev"
                        >
                            <span class="sr-only">Previous Slide</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5 rtl:rotate-180"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                            </svg>
                        </button>

                        <div
                            class="grow h-14 flex gap-auto md:gap-20 items-center justify-between overflow-x-scroll custom-scrollbar1 ml-0 md:ml-10"
                            data-te-carousel-indicators
                            id="scrollContainer"
                        >
                            <!-- <div
                                class="industries-shadow rounded-lg text-[#31393C]"
                                id="menuf1"
                            > -->
                            <button
                                class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                id="menuf"
                                type="button"
                                data-te-target="#carouselExampleCaptions"
                                data-te-slide-to="0"
                                data-te-carousel-active
                                aria-current="true"
                                aria-label="Slide 1">Manufacturing</button
                            >
                            <!-- </div> -->
                            <!-- <div class="" id="text1"> -->
                            <button
                                class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                id="text"
                                type="button"
                                data-te-target="#carouselExampleCaptions"
                                data-te-slide-to="1"
                                aria-label="Slide 2">Textile</button
                            >
                            <!-- </div> -->
                            <div class="" id="health1">
                                <button
                                    class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                    id="health"
                                    type="button"
                                    data-te-target="#carouselExampleCaptions"
                                    data-te-slide-to="2"
                                    aria-label="Slide 3">Healthcare</button
                                >
                            </div>
                            <div class="" id="rent1">
                                <button
                                    class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                    id="rent"
                                    type="button"
                                    data-te-target="#carouselExampleCaptions"
                                    data-te-slide-to="3"
                                    aria-label="Slide 4">Rental</button
                                >
                            </div>
                            <div class="" id="construction1">
                                <button
                                    class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                    id="construction"
                                    type="button"
                                    data-te-target="#carouselExampleCaptions"
                                    data-te-slide-to="4"
                                    aria-label="Slide 5">Construction</button
                                >
                            </div>
                            <div class="" id="crowdfunding1">
                                <button
                                    class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                    id="crowdfunding"
                                    type="button"
                                    data-te-target="#carouselExampleCaptions"
                                    data-te-slide-to="5"
                                    aria-label="Slide 6">Crowdfunding</button
                                >
                            </div>
                            <div class="" id="hr1">
                                <button
                                    class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg whitespace-nowrap"
                                    id="hr"
                                    type="button"
                                    data-te-target="#carouselExampleCaptions"
                                    data-te-slide-to="6"
                                    aria-label="Slide 7">Hr & Payroll</button
                                >
                            </div>
                            <div class="" id="ayurveda1">
                                <button
                                    class="text-[#31393C] px-10 py-2 font-semibold text-sm md:text-base lg:text-lg"
                                    id="ayurveda"
                                    type="button"
                                    data-te-target="#carouselExampleCaptions"
                                    data-te-slide-to="7"
                                    aria-label="Slide 8">Ayurveda</button
                                >
                            </div>
                        </div>
                        <button
                            class="rounded-full border border-gray-600 p-4 text-gray-600 hover:bg-gray-600 hover:text-white"
                            id="nextScrollButton"
                            data-te-target="#carouselExampleCaptions"
                            data-te-slide="next"
                        >
                            <span class="sr-only">Next Slide</span>
                            <svg
                                class="h-5 w-5 rtl:rotate-180"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9 5l7 7-7 7"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"></path>
                            </svg>
                        </button>
                    </div>

                    <div
                        class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
                    >
                        <!--First item-->
                        <div
                            class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-active
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="menuf_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-8/12"> -->
                                <Image
                                    src={manufacturing}
                                    alt="manufacturing"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Manufacturing
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        We have worked with over 8+
                                        manufacturing companies for end-to-end
                                        ERPNEXT implementation and they have <span
                                            class="font-bold"
                                            >saved up to 1000+ man hours,</span
                                        > with optimized production processes, inventory
                                        management, and supply chain operations.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="manufacturing"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="text_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={textile_i}
                                    alt="textile_i"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Textile
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        Our expertise in ERPNext and ServiceNow
                                        implementation for over 5 textile
                                        companies helped them <span
                                            class="font-bold"
                                            >save over 20% of costs</span
                                        > by streamlining their operations and improving
                                        overall business efficiency.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="health_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={healthcare}
                                    alt="healthcare"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Healthcare
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        Our team has deployed comprehensive
                                        solutions for varied healthcare
                                        organizations - leading to <span
                                            class="font-bold"
                                            >12% increase in overall business
                                            efficiency,</span
                                        > leading to better management of patient
                                        databases, billing, and overall operational
                                        workflows.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="rent_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={retail}
                                    alt="retail"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Retail
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        Retail stores have seen over <span
                                            class="font-bold"
                                            >24% increase in customer
                                            satisfaction</span
                                        > after our ERPNEXT implementation services
                                        - through comprehensive store management,
                                        inventory tracking, customer relationship
                                        management, and billing processes.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="construction_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={construction}
                                    alt="construction"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Construction
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        We have implemented customized solutions
                                        for construction companies, helping them
                                        to <span class="font-bold"
                                            >save their crucial business
                                            resources</span
                                        > with better management, tracking, billing
                                        and other financial aspects of their projects.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="crowdfunding_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={crowdfunding}
                                    alt="crowdfunding"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Crowdfunding
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        We have developed a full-fledged
                                        crowdfunding platform connecting NGOs
                                        and donors with best-in-class
                                        functionalities, easy navigation and
                                        secure payments. Through that platform
                                        and its easy navigation, <span
                                            class="font-bold"
                                            >NGOs have raised over 60cr in just
                                            one week.</span
                                        >
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="hr_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={hr}
                                    alt="hr"
                                    class="sm:w-full md:w-8/12 lg:w-7/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Human Resources
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        Human Resources and consulting companies
                                        who have collaborated with us have <span
                                            class="font-bold"
                                            >saved 29% in costs and over 850+
                                            man hours</span
                                        > through automation for recruitment processes,
                                        onboarding, performance management, etc.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                            data-te-carousel-item
                            style="backface-visibility: hidden"
                        >
                            <div
                                class="flex flex-wrap justify-items-center items-center"
                                id="ayurveda_c"
                            >
                                <!-- <div class="sm:w-full md:w-8/12 lg:w-7/12"> -->
                                <Image
                                    src={ayurveda}
                                    alt="ayurveda"
                                    class="sm:w-full md:w-8/12 lg:w-8/12 p-auto md:p-12"
                                />
                                <!-- </div> -->
                                <div class="sm:w-full md:w-4/12 lg:w-4/12">
                                    <p
                                        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] text-[#31393C] font-semibold"
                                    >
                                        Ayurveda
                                    </p>
                                    <p
                                        class="mt-2 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
                                    >
                                        We have catered to the unique
                                        requirements of a few Ayurvedic
                                        companies, who have experienced a <span
                                            class="font-bold"
                                            >38% surge in total orders</span
                                        > through our effective categorizations,
                                        database management, inventory tracking and
                                        operations.
                                    </p>
                                    <div
                                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-36"
                                    >
                                        <a
                                            href="#"
                                            class="text-white font-semibold font-inter"
                                            >learn more</a
                                        >
                                        <Image
                                            src={right}
                                            width={6}
                                            height={12}
                                            alt="right arrow "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
<style>
    [data-te-carousel-indicators] button[data-te-carousel-active] {
        /* background-color: #3e96f4; */
        border: 1px solid white;
        color: #3e96f4;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
    }
</style>
<script>
    logElementsWithAriaCurrent()
    function logElementsWithAriaCurrent() {
        // Find elements with aria-current="true"
        const elementsWithAriaCurrent = document.querySelectorAll(
            '[aria-current="true"]'
        );

        // Log elements to the console
        elementsWithAriaCurrent.forEach((element) => {
            console.log(element.innerHTML);
            // if (element.innerHTML === 'Rental'){
            if (element.innerHTML === 'Construction'){
            	const containerElement = document.getElementById("scrollContainer");
			    const scrollAmount = containerElement.offsetWidth;
			    containerElement.scrollBy({
				    top: 0,
				    left: scrollAmount,
				    behavior: "smooth",
			    });
            }
            // if (element.innerHTML === "Ayurveda"){
            if (element.innerHTML === "Manufacturing"){
                const containerElement = document.getElementById("scrollContainer");
		        const scrollAmount = -containerElement.offsetWidth;
                containerElement.scrollBy({
                    top: 0,
                    left: scrollAmount,
                    behavior: "smooth",
                });
            }
        });
    }
    setInterval(logElementsWithAriaCurrent, 1000);
</script>
